.vs
.DS_Store
*~
*#
*.vcxproj.user
*.VC.db
*.dylib
*.sd
*.so
*.o
*.obj
*.log
*.idb
*.pdb
*.tlog
*.lastbuildstate
project.xcworkspace
xcuserdata
WorkspaceSettings.xcsettings
macos/vkQuake2
debugx64
releasex64
debugppc64le
releaseppc64le
Debug
Release
Quake2
