.editorconfig text eol=lf
.git* text eol=lf
Makefile text eol=lf
*.vert text eol=lf
*.frag text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.hpp text eol=lf
*.cpp text eol=lf
*.asm text eol=lf
*.h text eol=lf
*.inc text eol=lf
*.c text eol=lf
*.m text eol=lf
*.mm text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.vcxproj text eol=crlf
*.aps binary
*.exe binary
*.dll binary
*.dylib binary
*.lib binary
*.o binary
*.gif binary
*.jpg binary
*.tiff binary
*.ico binary
*.png binary
